@media screen and (max-width: 400px){
    .col-sm-2.sidenav  ul#contentNews{
      display: none;
    }
}
img {
  width: 100%;
}
#linkAula:hover,#linkEvento:hover{
  cursor: pointer;
}
@media screen and (max-width: 400px){
    .col-sm-2.sidenav  ul#contentNews{
      display: none;
    }
}
img {
  width: 100%;
}
#linkAula:hover,#linkEvento:hover{
  cursor: pointer;
}
.chat .show-chat li{
  margin: 3px;
  padding: 5px 5px 1px 5px;
  font-size: 14px;
  border-radius: 15px;
  border: solid 1px #555;
}
.chat .show-chat li:hover{
  border-color:  #FFA500;
}

#live-chat { 
    bottom: 0;
    font-size: 14px;
    right: 24px;
    position: fixed;
    width: 300px;
    z-index: 100;
    border: solid 2px #555555;
    border-bottom: 0;
    border-radius: 10px; 
    padding: 5px;
    background-color: #dae0e5;
}
#chatTitle{
    background-color: #f8f8ff;
    padding-left: 10px;
}
h6{
    color: #000000;
}
input {
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}
#message-to-send{
    font-size: 16px;
    padding: 3px;		
    width: 100%; 
    height:30px;
    border-radius: 5px	
}
.userMessage{
    border-radius: 50px;
    padding: 5px;
    margin:	3px;
    background-color: #ffffff;
}
.visitMessage{
    border-radius: 50px;
    padding: 5px;
    margin:	3px;			
    background-color: #ffffff;									
}